/* imported custom text */
@import url('https://fonts.cdnfonts.com/css/callie-chalk-font');

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: url("../image/coffee_rorozoa_3_04.jpg") no-repeat center fixed; /* #7B6B43; A warm earthy background color */
    background-size: cover;
    color: #FFF5E1; /* Soft off-white for text to complement the warm background */
    margin: 0;
    padding: 0;
    /* hides scrollbars preventing scrolling for extra content - for animated banner */
    overflow: hidden;
    width: 100%;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Lighter background for the container for a soft, airy feel */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Softer shadow for a subtle depth */
    text-align: center;
    border: 1px solid #FFDAB9; /* A soft border color for a touch of warmth */
}

h1 {
    font-size: 48px;
    color: #004211; /* A golden hue for headings to add warmth */
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2); /* Softer text shadow for depth */
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2); /* Softer text shadow for depth */
    color: #004211; /* Cream-colored text for easy reading against the warm background */
}

h3 {
    font-size: 28px;
    color: #004211; /* Matching the golden hue for consistency in headings */
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .2); /* Consistent text shadow styling with h1 */
}

header {
    /* background-color: rgba(16, 163, 0, 0.244); */
    background-color: transparent;
    margin: 50px 0 50px 0;
    padding: 30px 0 30px 0;
    text-align: center;
}

#headerInfo {
    color: #FFF5E1;
    width: 100%;
    text-shadow: 1px 1px 2px rgb(255, 255, 255); /* Consistent text shadow styling with h1 */
}

/* specifies the div that's created in JS when the user says yes to the animation prompt */
#headerInfo div {
    /* ensures that the text does not wrap around */
    white-space: nowrap;
    /* for mozilla users */
    -moz-transform: translateX(100%);
    /* for safari and chrome users */
    -webkit-transform: translateX(100%);
    /* translates across the X axis */
    transform: translateX(100%);
    /* for mozilla users */
    -moz-animation: banner-animation 10s linear infinite;
    /* for safari and chrome users */
    -webkit-animation: banner-animation 10s linear infinite;
    /* syntax: @keyframes animation-duration animation-timing-function animation-iteration-count */
    animation: banner-animation 10s linear infinite;
    /* delays the animation by 1 second */
    animation-delay: 1s;

}

/* for mozilla users */
@-moz-keyframes banner-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}

/* for safari and chrome users */
@keyframes banner-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}

.chalkFont {
    color: #004211;
    /* custom text, if not available, uses commonly used font sans-serif */
    font-family: 'Callie Chalk Font', sans-serif;
    letter-spacing: 4px;
    font-weight: larger;
    font-size: larger;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

footer {
    text-align: center;
}